* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size:20px;
     font-family: 'Assistant', sans-serif;
}

input[type=submit] {
    background-color: #aa80ff;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size:20px;
     font-family: 'Assistant', sans-serif;
}

input[type=submit]:hover {
    background-color: #aa80ff;
    font-size:20px;
     font-family: 'Assistant', sans-serif;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
