
  .textblock{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(60%, 300%);
      background-color: #aa80ff;
      padding-left: 20px;
      padding-right: 20px;
      text-align: left;
      font-family:'Share Tech Mono', monospace;
      font-size: 50px;
}
.background{
   background-image:url("us.jpg");
   background-repeat: :no-repeat;
   background-position: center;
   background-size: cover;
   resize: both;
   padding: 5px;
   padding-bottom: 400px;
   margin: 0px;
   background-attachment: fixed;
}

t{
text-align: left;
font-family:'Share Tech Mono', monospace;
color: white;
font-size: 50px;
text-shadow: 2.5px 1px #000000;

}
person{
  font-size: 32px; font-family:'Share Tech Mono', monospace;
}

about{
  font-size:16px; font-family: 'Assistant', sans-serif;
}
contact{
  font-size:16px; font-family: 'Assistant', sans-serif;
}
occ{
  font-size:16px; font-family: 'Share Tech Mono', monospace;
}
job{
  font-size: 60px; font-family:'Share Tech Mono', monospace;
}
a {
    text-decoration: none;
    color: #008CBA;
}
p {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
/* Style the buttons that are used to open and close the accordion panel */
		.accordion {
		    background-color: #aa80ff;
		    color: #FFF;
		    cursor: pointer;
		    padding: 18px;
		    width: 100%;
		    text-align: middle;
		    border: 1px solid white;
		    outline: none;
		    transition: 0.4s;
		}

		/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
		.active, .accordion:hover {
		    background-color: #c180ff;
		}

		/* Style the accordion panel. Note: hidden by default */
		.panel {
		    padding: 0 18px;
		    background-color: white;
		    max-height: 0;
		    overflow: hidden;
		    transition: max-height 0.2s ease-out;
		}


		.accordion:after {
		    content: '\02795'; /* Unicode character for "plus" sign (+) */
		    font-size: 13px;
		    float: right;
		    margin-left: 5px;
		}

		.active:after {
		    content: "\2796"; /* Unicode character for "minus" sign (-) */
		}
